// article.sass

.ads
    padding: 24px
    text-align: center
    background-color: $gray
    border-bottom: 1px solid $primary-color

    img
        max-height: 150px
        max-width: 90vw
.post
    padding: 0 5vw 64px
    @extend %link-font
    font-weight: 100
    max-width: 1440px
    margin: auto
    img
        width: 100%
        max-width: 1440px
        &:hover
            cursor: pointer
            transition: .5s ease
            filter: url(#red-filter)

    &-headline
        width: 20vw
        border-top: 10px solid $primary-color
        margin: 0
        margin: 0 auto 64px 0
        padding: 0
        font-family: $logo-font
        font-size: 64px
        font-weight: 200
        text-transform: capitalize

    &-img-wrapper
        height: 700px
        overflow: hidden

    &-img
        max-width: 90vw

    &-body
        margin: 0 0 64px 200px
        border-left: 1px solid $primary-color
        padding: 32px 200px 0 64px

        &:hover
            @extend %text-hover

    &-section
        display: flex
        justify-content: space-between
        gap: 24px

        .left-side
            width: (100vw-10vw)/2
            justify-content: center
            height: 100vh
            overflow: hidden

            .overlay-content
                color: $primary-background-color
                position: relative
                bottom: 410px
                left: 0
                padding: 20px 24px 40px
                font-weight: bold

        .right-side
            width: (100vw-10vw)/2
            height: 100vh
            display: flex
            overflow: scroll
            gap: 24px
            overflow-x: hidden
            scrollbar-width: none

            .row
                flex: 1
                width: (100vw-60vw)/2

    &-column
        width: (100vw-16vw)/4
        display: inline-block
        overflow: hidden

        &:hover
            @extend %text-hover

        img
            max-width: 100%
            overflow: hidden

        .square-img
            width: 340px
            height: 340px
            overflow: hidden

        .rectangle-img
            width: 340px
            height: 460px
            overflow: hidden

    &-title
        @extend %logo-font
        font-size: 48px
        padding: 16px 0

    &-subtitle
        @extend %logo-font
        font-size: 22px
        padding: 4px 0

    &-paper
        overflow: hidden
        position: relative
        padding: 24px
        margin-left: 24px
        top: -40px
        background-color: $primary-background-color

.brown-hr
    margin: 24px 0 12px 0
    border-top: 5px solid #b89a6a
    width: 40px
    &:hover
        border-top: 5px solid $secondary-color

.white-hr
    margin: 24px 0
    border-top: 5px solid $primary-background-color
    width: 72px
    &:hover
        border-top: 5px solid $secondary-color

.more-info
    text-align: center
    margin: auto
    border-top: 2px solid $gray

button
    cursor: pointer
    border: none
    background-color: $primary-background-color
    margin: 8px 32px
    padding: 32px
    text-transform: uppercase
    @extend %link-font

    .red-icon
        color: $primary-background-color
        background-color: $secondary-color
        border-radius: 50%
        padding: 16px 18px
        margin: 16px
    &:hover
        color: $secondary-color
