body
    font-family: $sans-font
    text-transform: uppercase

a
    color: $primary-color
    text-decoration: none
    hover: hover

a:hover
    color: $secondary-color

.container
    color: $primary-color
    background-color: $primary-background-color
