// _basic.sass

%hover-style
    color: $secondary-color
    cursor: pointer

body
    font-family: $sans-font
a
    text-transform: uppercase
    text-decoration: none
    hover: hover
    color: $primary-color

a:hover
    color: $secondary-color

.container
    color: $primary-color
    background-color: $primary-background-color

::selection
    background: $secondary-color
    color: $primary-background-color
