// _dropdown.sass

.dropdown
    position: relative
    display: inline-block

    &-content
        display: none
        background-color: $primary-background-color
        box-shadow: $default-box-shadow
        margin-left: -4px
        min-width: 120px
        max-height: 300px
        overflow: auto
        padding: 4px
        position: absolute

    &-label:hover
        @extend %hover-style

    ul
        padding: 8px
        li
            list-style-type: none
            padding: 16px
            &:hover
                display: block
                color: $secondary-color

    .show
        display: block

    .icon
        margin-left: 8px

::-webkit-scrollbar
    width: 5px

::-webkit-scrollbar-track
    background: $gray

::-webkit-scrollbar-thumb
    background: $dark-gray
