// _footer.sass

.footer
    @extend %link-font
    font-weight: normal
    color: $primary-background-color
    background-color: $darker-gray

    .edition
        padding: 0 76px
        text-align: right
        font-weight: bold

        button
            margin: 0 0 0 8px
            padding: 18px 24px
            color: $primary-background-color
            border: none
            background-color: $secondary-color

    .dark-gray
        padding: 0 4vw
        align-items: center
        background-color: $footer-gray
        display: flex
        justify-content: space-around

        .logo
            @extend %logo-font
            margin: -80px 0
            font-size: 290px
            letter-spacing: -16px
            color: $darker-gray
            font-weight: 100
        .icon
            gap: 16px
            .icon-wrapper
                border: 1px solid $primary-background-color
                &:hover
                    border: 1px solid $secondary-color
