// _header.sass

.header
    box-shadow: -2px 2px 5px #0000001a
    border-top: 12px solid $primary-color
    letter-spacing: 0.1em
    font-size: $menu-item-font-size
    font-weight: 900

    .vl
        border-left: 0.5px solid #b6b6b6
        height: 30px
        display: inline-block
        vertical-align: middle
        margin: 16px

    .top
        margin: 4px 24px

    .logo
        font-size: 100px
        font-weight: 100
        font-family: $logo-font
    .menu
        padding: 0 16px
        position: absolute
        right: 0px

        .menu-item
            position: relative
            display: inline-block
            padding: 12px 8px

            .icon-menu
                transform: scale(1.5,1)

    .sub-menu
        border-top: 1px solid #caccce
        padding: 20px
        a
            padding: 8px
