
.header
    box-shadow: -2px 2px 5px #0000001a
    border-top: 12px solid $primary-color
    letter-spacing: 0.2em
    font-size: $menu-item-font-size
    font-weight: 900
    .top
        margin: 8px 24px
    .logo
        font-size: 100px
        font-weight: 100
        font-family: $logo-font
    .menu
        padding: 8px
        position: absolute
        right: 0px

        .menu-item
            position: relative
            display: inline-block
            padding: 12px 8px

    .sub-menu
        border-top: 1px solid #caccce
        padding: 20px
        a
            padding: 8px
