// _modal.sass

.modal
    position: fixed
    top: 0
    left: 0
    display: none
    width: 100%
    height: 100%
    overflow: auto
    background-color: $primary-color
    color: $primary-background-color
    .modal-dialog
        padding: 16px 24px
        .modal-content
            .modal-header
                .modal-title
                    @extend %logo-font
                .close-button
                    margin: 8px
                    padding: 16px
                    position: fixed
                    top: 0
                    right: 0
                    cursor: pointer
            .modal-body
                color: $primary-background-color
                padding: 8px
.modal-column
    vertical-align: top
    border-top: 1.5px solid $primary-background-color
    width: 29vw
    display: inline-block
    margin: 16px
    a
        padding: 16px 0
        display: block
        color: $primary-background-color
        &:hover
            color: $secondary-color

    hr
        border: none
        height: 1px
        color: $darker-gray
        background-color: $darker-gray

    .logo-font
        font-family: $logo-font
        font-size: 48px
        font-weight: 300
        text-transform: capitalize

    .follow-us
        color: $dark-gray
        text-transform: uppercase
        border-top: 1px solid $primary-background-color
        padding: 8px 0 16px
        margin-top: 32px

.modal-button:hover
    @extend %hover-style
.show
    display: block
