// _modal.sass

.modal
    position: fixed
    top: 0
    left: 0
    display: none
    width: 100%
    height: 100%
    background-color: $primary-color
    color: $primary-background-color
    .modal-dialog
        .modal-content
            .modal-header
                .modal-title
                    .modal-btn-close
            .modal-body

.modal-button:hover
    @extend %hover-style

.show
    display: block
