// _variable.sass

// font 
@font-face
    font-family: 'Noto Sans TC', sans-serif
    font-family: 'Noto Serif TC', serif
    font-family: 'Prata', serif
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&family=Noto+Serif+TC:wght@500&family=Prata&display=swap')

$logo-font: 'Prata', serif
$sans-font: 'Noto Sans TC', sans-serif
$serif-font: 'Noto Serif TC', serif

$menu-item-font-size: 12px

// color
$primary-color: #000
$secondary-color: #EE0000
$primary-background-color: #fff
$gray: #f2f2f2
$dark-gray: #888
$darker-gray: #2d2e2f
$footer-gray: #242526
// shadow
$default-box-shadow: $gray -2px 2px 5px
